/*
Author: Nathaly Diniz
Version: 1.0
*/

body {
    background-color: pink;
    background-image: url('bg.jpg');
    background-size: 100%;
    font-family:'Chakra Petch', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 300%;
  }

  header {
    margin-bottom: 50px;
  }
  
  footer {
    text-align: center;
    padding: 1px;
  }
  
  img {
    max-width: 100%;
  }
  
  div {
    margin-bottom: 25px;
  }
  
  #texto {
    text-align: center;
  }
  
  .textoImportante {
    color: floralwhite;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .textoTitulo {
    text-align: center;
  }